body
	{
		background-image: url('../img/header.jpg');
		background-repeat: repeat-y;
	}
#header
	{
		height:100px;
		background-image: url('../img/bubble.jpg');
		padding: 1% 1% 1% 1%;
		color: yellow;
	}
.btn, .well
	{
		margin: 2% 2% 2% 2%;
	}
#index
	{
		background-color: transparent;
		opacity: 1;
	}
table, th, td 
	{
		border-bottom: 2px solid black;
		text-align: center;
	}
th
	{
		background-color: yellow;
		cursor: pointer;
	}